@media (max-width: 1200px) {

}

@media (max-width: 1023px) {
  .promo {
    padding: 5px 20px 0 20px;
  }
  .benefits {
    padding: 70px 15px 0 15px;
  }
  .consultation {
    padding-left: 25px;
  }
}

@media (max-width: 767px) {
  .header {
    &__oficial {
      font-size: 11px;
    }
    span {
      font-size: 14px;
    }
    &__phone {
      font-size: 15px;
    }
  }
  .promo {
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 22px;
    }
  }
  .benefits {
    &__header {
      font-size: 28px;
    }
  }
}

@media (max-width: 639px) {
  .header {
    &__oficial {
      display: none;
    }
  }
  .promo {
    &__header {
      padding-left: 20px;
    }
    &__subheader {
      padding-left: 20px;
    }
    &__link {
      display: none;
    }
  }
  .benefits {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      img {
        margin-bottom: 21px;
      }
      &__item {
        padding-bottom: 21px;
      }
  }
  .consultation {
    min-height: 450px;
    padding: 30px 15px;
    &__descr {
      display: none;
    }
  }
}

@media (max-width: 479px)  {
  .promo {
    min-height: 500px;
    &__icons {
      display: none;
    }
  }
  .header {
    &__logo {
      img {
        width: 90%;
      }
    }
    &__phone {
      display: none;
    }
  }
}


