.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: $main_color;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  &_main {
    width: 303px;
    height: 54px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 65px;
  }
  &_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .button {
    &_media {
      width: 135px;
    }
  }
}

@media (max-width: 639px) {
  .button {
    &_main {
      display: block;
      margin: 0 auto;
      margin-top: 65px;
    }
  }
}

@media (max-width: 479px) {
  .button_media {
    width: 125px;
  }
  .button_main {
    width: 275px;
  }
}

